<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.CourseMarketMapper">
  <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.CourseMarket">
    <!--@mbg.generated-->
    <!--@Table xcplus_db.course_market-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="charge" jdbcType="VARCHAR" property="charge" />
    <result column="price" jdbcType="FLOAT" property="price" />
    <result column="original_price" jdbcType="FLOAT" property="originalPrice" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="valid_days" jdbcType="INTEGER" property="validDays" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, charge, price, original_price, qq, wechat, phone, valid_days
  </sql>
</mapper>