<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.CourseAuditMapper">
  <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.CourseAudit">
    <!--@mbg.generated-->
    <!--@Table xcplus_db.course_audit-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="audit_mind" jdbcType="VARCHAR" property="auditMind" />
    <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
    <result column="audit_people" jdbcType="VARCHAR" property="auditPeople" />
    <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, course_id, audit_mind, audit_status, audit_people, audit_date
  </sql>
</mapper>