<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.CoursePublishMapper">
  <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.CoursePublish">
    <!--@mbg.generated-->
    <!--@Table xcplus_db.course_publish-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="users" jdbcType="VARCHAR" property="users" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="mt" jdbcType="VARCHAR" property="mt" />
    <result column="mt_name" jdbcType="VARCHAR" property="mtName" />
    <result column="st" jdbcType="VARCHAR" property="st" />
    <result column="st_name" jdbcType="VARCHAR" property="stName" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="teachmode" jdbcType="VARCHAR" property="teachmode" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="market" jdbcType="LONGVARCHAR" property="market" />
    <result column="teachplan" jdbcType="LONGVARCHAR" property="teachplan" />
    <result column="teachers" jdbcType="LONGVARCHAR" property="teachers" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="online_date" jdbcType="TIMESTAMP" property="onlineDate" />
    <result column="offline_date" jdbcType="TIMESTAMP" property="offlineDate" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="charge" jdbcType="VARCHAR" property="charge" />
    <result column="price" jdbcType="FLOAT" property="price" />
    <result column="original_price" jdbcType="FLOAT" property="originalPrice" />
    <result column="valid_days" jdbcType="INTEGER" property="validDays" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, company_name, `name`, users, tags, username, mt, mt_name, st, st_name, 
    grade, teachmode, pic, description, market, teachplan, teachers, create_date, online_date, 
    offline_date, `status`, remark, charge, price, original_price, valid_days
  </sql>
</mapper>