<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.CourseTeacherMapper">
  <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.CourseTeacher">
    <!--@mbg.generated-->
    <!--@Table xcplus_db.course_teacher-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="photograph" jdbcType="VARCHAR" property="photograph" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, course_id, teacher_name, `position`, introduction, photograph, create_date
  </sql>
</mapper>