<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.TeachplanMapper">
  <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.Teachplan">
    <!--@mbg.generated-->
    <!--@Table xcplus_db.teachplan-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="parentid" jdbcType="BIGINT" property="parentid" />
    <result column="grade" jdbcType="SMALLINT" property="grade" />
    <result column="media_type" jdbcType="VARCHAR" property="mediaType" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="timelength" jdbcType="VARCHAR" property="timelength" />
    <result column="orderby" jdbcType="INTEGER" property="orderby" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="course_pub_id" jdbcType="BIGINT" property="coursePubId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_preview" jdbcType="CHAR" property="isPreview" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="change_date" jdbcType="TIMESTAMP" property="changeDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, pname, parentid, grade, media_type, start_time, end_time, description, timelength, 
    orderby, course_id, course_pub_id, `status`, is_preview, create_date, change_date
  </sql>
</mapper>