<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.content.mapper.TeachplanMediaMapper">
  <resultMap id="BaseResultMap" type="com.xuecheng.content.model.po.TeachplanMedia">
    <!--@mbg.generated-->
    <!--@Table xcplus_db.teachplan_media-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="media_id" jdbcType="VARCHAR" property="mediaId" />
    <result column="teachplan_id" jdbcType="BIGINT" property="teachplanId" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="media_fileName" jdbcType="VARCHAR" property="mediaFilename" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_people" jdbcType="VARCHAR" property="createPeople" />
    <result column="change_people" jdbcType="VARCHAR" property="changePeople" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, media_id, teachplan_id, course_id, media_fileName, create_date, create_people, 
    change_people
  </sql>
</mapper>